.title{
    color:var(--main-white)
}
.tab-columns{
    display: grid;
    background-color: var(--main-white);
    width: 98%;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 8px;
    grid-template-columns: repeat(15, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    
    
}
.cost-container{
    display: grid;
    gap: 16px;
    background-color: rgba(70, 55, 36, 0.8);
    width: 90vw;
    justify-content: center;
    align-items: center;
    padding: 24px;
    max-height: 600px;
}
.description-title{
    grid-column: span 4;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 0;
}
.num-tab{
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 0;
    grid-column: span 1;  
}

.main-tab-cel{
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 0;
    grid-column: span 2;
}

.cost-options{
    display: flex;
    color: var(--main-white);
    justify-content: space-between;
    gap: 48px;
    margin: 32px;
}
.cost-options-1{
    background-color: var(--soft-clear-brown);
    color: var(--secondary-color);
    cursor: pointer;
    height: 100%;
    padding: 20px;
    border-radius: 16px;
}

.cost-options-1:hover{
    background-color: var(--vintage-orange);
    color: var(--main-white);
}

.cost-options-2{
    background-color: var(--soft-clear-brown);
    color: var(--secondary-color);
    cursor: pointer;
    height: 100%;
    padding: 20px;
    border-radius: 16px;
}

.cost-options-2:hover{
    background-color: var(--vintage-orange);
    color: var(--main-white);
}

.cost-options-3{
    background-color: var(--soft-clear-brown);
    color: var(--secondary-color);
    cursor: pointer;
    height: 100%;
    padding: 20px;
    border-radius: 16px;
}

.cost-options-3:hover{
    background-color: var(--vintage-orange);
    color: var(--main-white);
}
.tabs-content{
    max-height: 400px;
    overflow-y: scroll;
}

.total-cost-container{
    margin: 12px;
    display: flex;
    justify-content: flex-start;
    align-items:end;
    text-align: left;
    color: var(--soft-clear-brown);
    width: 90vw;
}

.total-cost{
    width: 240px;
    background-color: black;
    padding: 16px;
    border-radius: 15px;
}

@media (max-width:1300px) {
    .cost-container{
        width: 90vw;
    }
  }