.cost-tab{
    display: grid;
    /*background-color: var(--main-white);*/
    width: 99.5%;
    margin: 0px;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding: 0;
    grid-template-columns: repeat(15, minmax(0, 1fr));
}

.cost-font{
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    max-height: 64px;
  
}
.cost-name{
    justify-content: space-between;
}
.cost-value{
    justify-content: space-between;
}
.cost-cel{
    margin: 2px;
    background-color: var(--main-white);
    padding: 12px;    
    border-radius: 4px;
    border-width: 60px;
    height: 64px;
   overflow: auto;
   grid-column: span 2;
}

.cost-description{
    display: flex;
    height: 38px;
    justify-content: left;
}

.decription-cel{
    justify-content: left;
    grid-column: span 4;
    margin: 2px;
    background-color: var(--main-white);
    padding: 12px;
    border-radius: 4px;
    border-width: 60px;
    height: 60px;
    overflow-y: scroll;
    text-align: left; /* Ajuste para alinear el texto a la izquierda */
}


.decription-cel::-webkit-scrollbar{
    width: 7px;
}

.decription-cel::-webkit-scrollbar-track{
    background: transparent;
}


.decription-cel::-webkit-scrollbar-thumb {
	background-color:rgba(10,32, 30, 0.2);
}


.cost-tab-selected{
    background-color: var(--soft-clear-brown);
    border-radius: 4px;
}

.cel-num{
    cursor: pointer;
    margin: 2px;
    background-color: var(--main-white);
    padding: 12px;    
    border-radius: 4px;
    border-width: 60px;
    height: 64px;
   overflow: auto;
   grid-column: span 1;
}

.cel-num-selected{
    cursor: pointer;
    background-color: var(--vintage-orange);
    color: var(--main-white);

}

.cel-num:hover{
    background-color: var(--vintage-orange);
    color: var(--main-white);
}
/*.tab-container{
    background-color: rgba(70, 55, 36, 0.8);
}*/