:root {
  font-family: 'Bungee', sans-serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Chonburi', serif;
  background-color:var(--soft-clear-brown);
  --secondary-color: #624a33;
  --form-color:#78472f;
  --main-white:#f5f6f7;
  --vintage-orange:#975e38;
  --soft-clear-brown:#b7a393;
}
/* Quitar el subrayado de los enlaces dentro de las listas */
ul li a,
ol li a {
    text-decoration: none;
    color: var(--secondary-color);
}

/* Quitar los puntos de las listas */
ul, ol {
  list-style: none;
  text-decoration: none;
  color: var(--form-color);
}